.browse-dress-main-container {
    background-color: #F0F0F0;
    width: 80%;
    margin: 2rem auto;
    padding-top: 1.5rem;
    border-radius: 40px;
    text-align: center;
}

.browse-dress-container h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.main-browse-dress-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-row,
.image-row-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    overflow: hidden;
}

.image-row-2 {
    position: relative;
    bottom: 20px;
}

.image-wrapper {
    position: relative;
}

.image-wrapper img {
    border-radius: 20px;
}

.image-text-gym {
    font-size: 32px;
    font-weight: 700;
    transform: translate(-50%, -50%);
    position: relative;
    bottom: 250px;
    left: 90px;
}

.image-text {
    font-size: 32px;
    font-weight: 700;
    transform: translate(-50%, -50%);
    position: relative;
    bottom: 250px;
    left: 90px;
}

@media (max-width:1350px) {
    .browse-dress-main-container{
        width: 90%;
    }
}

@media (max-width:768px) {

    .image-row,
    .image-row-2 {
        flex-direction: column;
    }

    .image-wrapper img {
        width: 80%;
    }

    .image-wrapper p {
        font-size: 38px;
    }

    .image-text {
        bottom: 175px;
        left: 160px;
    }

    .image-text-gym {
        bottom: 320px;
        left: 160px;
    }

    .image-gym {
        position: relative;
        bottom: 20px;
    }
}

@media (max-width:480px) {
    .image-wrapper p {
        font-size: 20px;
    }

    .image-text {
        bottom: 90px;
        left: 80px;
    }

    .image-text-gym {
        bottom: 160px;
        left: 80px;
    }
}