.footer-container-submain {
    background-color: #F0F0F0;
    position: relative;
    width: 100%;
    margin-top: 6rem;
}

.footer-container {
    position: relative;
    top: -80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe-container-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px; 
    background-color: black;
    padding: 2rem;
    border-radius: 20px;
    width: 90%;
}

.subscribe-container-content h1 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center; 
    width: 100%; 
    max-width: 500px; 
}

.subscribe-container-button {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center; 
}

.subscribe-container-email {
    width: 100%;
    max-width: 349px; 
    height: 48px;
    border-radius: 62px;
    padding: 5px 5px 5px 25px;
    font-size: larger;
}

.subscribe-container-button-tag {
    background-color: white;
    height: 48px;
    width: 100%; 
    max-width: 349px;
    border-radius: 62px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold; 
}

.footer-ShopCo-Contaiiner {
    width: 100%; 
    max-width: 248px; 
    height: auto; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.footer-ShopCo-details-main-Contaiiner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 20px;
}

.footer-ShopCo-details-Contaiiner {
    width: 228px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    text-align: left;
}

.footer-ShopCo-details-Contaiiner p {
    cursor: pointer;
}

.footer-info-container {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between;
}

.footer-ShopCo-Contaiiner-company-name {
    font-size: 38px;
    font-weight: 700;
}

.footer-ShopCo-details-Contaiiner-header {
    font-size: 18px;
    font-weight: 500;
}

.footer-info-logos {
    display: flex;
    gap: 10px;
    mix-blend-mode: luminosity;
}

.footer-info-logos img {
    cursor: pointer;
}

.footer-copyright-details-main-container {
    width: 90%;
    margin-top: 6rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    flex-direction: column; 
}

.footer-copyright-details-container {
    border-top: 1px solid #0000001a;
    display: flex;
    flex-wrap: wrap; 
    gap: 650px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer-copyright-details-container p{
    margin-bottom: 20px;
}

.payment-app-logos {
    margin-top: -10px;
}

.payment-app-logos img {
    cursor: pointer;
}

.company-help-container,
.FAQ-resources-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

@media (max-width: 1300px){
    .footer-copyright-details-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}
@media (max-width: 900px){
    .footer-info-container {
        margin-left: 2rem;
        gap: 50px;
    }

    .footer-ShopCo-details-main-Contaiiner{
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .footer-info-container {
        flex-direction: column; 
        margin-left: 0;
        gap: 20px
    }

    .subscribe-container-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-ShopCo-Contaiiner {
        max-width: 500px; 
    }

    .company-help-container {
        flex-direction: column;
        gap: 2rem; 
    }

    .FAQ-resources-container {
        flex-direction: column;
        gap: 2rem; 
    }

    .footer-copyright-details-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .footer-ShopCo-details-Contaiiner{
        width: 80px;
    }

    .subscribe-container-content {
        gap: 10px;
    }

    .subscribe-container-content h1 {
        font-size: 30px;
        max-width: 300px;
    }

    .footer-ShopCo-Contaiiner {
        max-width: 90%;
        margin-left: 10px;
        overflow: hidden;
    }

    .company-help-container {
        margin-left: 1.5rem;
    }

    .footer-info-container {
        width: 100%; /* Flexible width */
    }

    .footer-ShopCo-details-main-Contaiiner {
        overflow: hidden;
        justify-content: space-around;
        width: 100%; /* Adjusted to prevent overflow */
    }
}
